<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 目标对象 -->
    <bean id="arithmeticCalculatorImpl" class="AOP.aspectJ.xml.ArithmeticCalculatorImpl"></bean>

    <!-- 切面 -->
    <bean id="loggingAspect" class="AOP.aspectJ.xml.LoggingAspect"></bean>
    <bean id="validationAspect" class="AOP.aspectJ.xml.ValidationAspect"></bean>

    <!-- AOP:切面 通知 切入点表达式 -->
    <aop:config>
        <!-- 切面 -->
        <aop:aspect ref="loggingAspect" order="2">
            <aop:pointcut id="myPointCount" expression="execution(* AOP.aspectJ.xml.*.*(..))"/>
            <aop:before method="beforeMethod" pointcut-ref="myPointCount"></aop:before>
            <aop:after method="afterMethod" pointcut-ref="myPointCount"></aop:after>
            <aop:after-returning method="afterReturningMehtod" pointcut-ref="myPointCount" returning="result"></aop:after-returning>
            <aop:after-throwing method="afterThrowingMethod" pointcut-ref="myPointCount" throwing="ex"></aop:after-throwing>
        </aop:aspect>

        <aop:aspect ref="validationAspect" order="1">
            <aop:before method="beforeMethod" pointcut-ref="myPointCount"></aop:before>
        </aop:aspect>

    </aop:config>
</beans>